body {
    margin: 0;
    margin-top: 80px;
}

nav {
    background-color: #4D9BF6;
    display:flex;
    justify-content: nowrap;
    height: 75px;
    width: 100%;
    top: 0;
    position: fixed;
    opacity: 0.9;
    font-weight: bold;
}

nav a { 
    width:25%;
    text-decoration: none;
    color: black;
}

nav a div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background-color: #3771b4;
}

.separator {
    background-color: #4D9BF6;
    height: 30px;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.para {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 15% 5% 15%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #509df4
}